doctype html
html
	head
		meta(charset="UTF-8")
		title my pug template
		meta(name="viewport" content="width=device-width, initial-scale=1")
		meta(name="format-detection" content="telephone=no")
		meta(name="theme-color" content="#fff")
		link(rel="stylesheet" media="all" href="css/app.css")
		script(src="js/app.js")
body