#Ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

#Ignore folders and OS files
.DS_Store
._*
.cache
.project
.settings
.tmproj
.idea
.sass-cache
.tmp
*.esproj
*.sublime-project
*.sublime-workspace
Thumbs.db
nbproject
node_modules
bower_components
site/lib
