//write here your sass
+font(font, autourone-regular)

body
  font-family: 'font', Arial, san-serif

header,main,footer
  max-width: 250px
  padding: 10px
  margin-bottom: 10px
  background: grey
  color: #ccc
  text-align: center
  +fs(20)

img
  max-width: 150px