include partials/_head.pug

div
	h1 Hello World!
	p
		| Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam suscipit quo enim aut, laboriosam fuga sequi quidem sapiente aspernatur maiores numquam sit eaque architecto eius et vitae saepe non veniam corrupti sed molestias adipisci vero quasi nam? Aspernatur aliquam voluptates nesciunt omnis eveniet, aperiam molestias dolor impedit provident nostrum, praesentium ducimus iusto porro dolores suscipit harum iste, fugit animi. Reiciendis, sint inventore quo tempore molestiae excepturi modi qui voluptate maxime corporis nulla quisquam eius. Quas et, dolore sunt fugit, assumenda eos autem possimus est laborum hic iste cumque beatae. Laboriosam ea labore pariatur, maxime maiores consectetur perferendis nostrum ab rerum vel quis reprehenderit, deleniti dicta magnam illo deserunt obcaecati sed impedit non magni iusto illum quas! A, obcaecati nemo natus impedit, quidem eos, similique dicta, ullam non neque officia amet quae sapiente velit reprehenderit voluptas! Dignissimos, consequuntur voluptas doloremque necessitatibus praesentium nam, vero, ipsa quo debitis laboriosam tempore! Tempore, nam!